.about-container {
  position: absolute;
  width: 1440px;
  height: 1523px;
  left: 0px;
  top: -2px;

  background: #161625;
}

.about {
  position: absolute;
  width: 129px;
  height: 64px;
  left: 150px;
  top: 144px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}

.update {
  position: absolute;
  width: 265px;
  height: 24px;
  left: 150px;
  top: 220px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Light / blue-gray / 400 */

  color: #94a3b8;
}
.distribution {
  position: absolute;
  width: 469px;
  height: 36px;
  left: 150px;
  top: 276px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 200 */

  color: #e2e8f0;
}
.list {
  position: absolute;
  width: 900px;
  right: 50px;
  height: 36px;
  left: 110px;
  top: 330px;
  list-style-type: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .about-container {
    position: relative;
    width: 360px;
    height: 1613px;
    flex-grow: grow;
    background: #161625;
  }
  .about {
    position: absolute;
    width: 65px;
    height: 32px;
    left: 24px;
    top: 88px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    /* Light / blue-gray / 50 */

    color: #f8fafc;
  }
  .update {
    position: absolute;
    width: 206px;
    height: 16px;
    left: 24px;
    top: 132px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Light / blue-gray / 400 */

    color: #94a3b8;
  }
  .distribution {
    position: absolute;
    width: 312px;
    height: 48px;
    left: 24px;
    top: 172px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* Light / blue-gray / 200 */

    color: #e2e8f0;
  }
  .list {
    position: absolute;
    width: 330px;
    left: 0px;
    top: 210px;
    height: 1409px;
    overflow-y: scroll;
  }
}
