.suggestion-list {
  position: absolute;
  width: 824px;
  height: 64px;
  left: 0px;
  top: 0px;
  padding-bottom: 30px;

  background: #1e1e30;
  /* Light / blue-gray / 400 */
}

.state-name {
  position: absolute;
  width: 200px;
  height: 24px;
  left: 60px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 500 */

  color: #64748b;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 4px 6px;
  margin-left: 280px;

  position: absolute;
  width: 72px;
  height: 32px;
  left: 356px;
  top: 12px;
  /* Transparent Info / 16% */

  background: rgba(28, 212, 212, 0.16);
  border-radius: 4px;
}

.state-code {
  position: static;
  width: 20px;
  height: 24px;
  left: 10px;
  top: 0px;

  /* Text Font / S1 Subtitle */

  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / yellow / 400 */

  color: #facc15;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 6px;
}
.button-img {
  position: static;
  width: 24px;
  height: 24px;
  left: 46px;
  top: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
  color: #facc15;
}
